<header class = "header">
  <div class="header-top">
    <a class = "logo" routerLink="">habr</a>
    <a class = "header-top__link category" routerLink="/category"> Category</a> 
    <a class = "header-top__link category" routerLink="/post">Post</a> 
    <a class = "header-top__link category" routerLink="/profile">Profile</a> 
    <nav class = "nav">
      <a class = "nav__link" routerLink="/login">Log in</a>
      <!-- <a class = "nav__link" routerLink="">Sign up</a> -->
    </nav>
  </div>
</header>

