<div class="post">
  <h3>{{post.title}}</h3>
  <br>
  <p>{{post.text}}</p>
  <br>
  <p><i>{{post.author.name}}</i></p>
  <h3>Comments: </h3>
  <div class="post-comments">
    <div *ngFor="let comment of comments">
      <p>{{ comment.whoComment.username }}</p>
      <p>{{ comment.text}}</p>
    </div>
  </div>
  <div class="post-likes">
    <button type="submit" class="btn" (click)="onLikeClick()">Like</button>
    <p [ngClass]="{ 'isLiked': isLikedByMe }">Likes: {{ likeCount }}</p>
  </div>
</div>