<footer class="footer">
  <div class="footer-top">
    
    <div class="footer-main-inform">
      <h3 class="footer-main-inform__title">Информация</h3>
      <ul class="footer-main__information">
        <li class="footer-main__inform__link">
          <i class="icon-check footer-main__second-icon"></i>
          <span class="footer-main__second-desc">О нас</span>
        </li>
        <li class="footer-main__inform__link">
          <i class="icon-check footer-main__second-icon"></i>
          <span class="footer-main__second-desc">Политика приватности</span>
        </li>
        <li class="footer-main__inform__link">
          <i class="icon-check footer-main__second-icon"></i>
          <span class="footer-main__second-desc">Условия и соглашения</span>
        </li>
        <li class="footer-main__inform__link">
          <i class="icon-check footer-main__second-icon"></i>
          <span class="footer-main__second-desc">Контакты</span>
        </li>
      </ul>
    </div>
    
  </div>
  <div class="footer-bottom">
    <h3 class="footer-bottom__copyright">Все права защищены 2020 ©habr</h3>
  </div>
</footer>
